*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

h1{
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}

h2{
    font-family: 'Roboto', sans-serif;
    color: #032e3e;
}

p{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4rem;
}

.not-bold{
    font-weight: normal;
}

#showcase{
    width: 100%;
    color: white;
    background: #333;
    height: 100vh;
    padding: 2rem;
    position: relative;
}

#showcase::before{
    content: '';
    background: url('../images/banner-1.png') no-repeat center center/cover;
    position: absolute; 
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
}

#showcase #showcase-container{
    display: flex;
    justify-content: end;
    top: 0;
    right: 0;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
}

#showcase #showcase-content{
    margin-top: 50px;
    margin-right: 70px;
    z-index: 1;
}


@media only screen and (max-width: 600px) {

    #showcase #showcase-content{
        z-index: 1;
    }

}