*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

h1{
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}

p{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4rem;
}

#section-b{
    color: white;
    background: #333;
    height: 100vh;
    padding: 2rem;
    position: relative;
}



#section-b #showcase-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* justify-content: center; */
    /* align-items: center; */
    height: 100vh;
}

.my-3{
    margin-bottom: 40px;
}

.my-2{
    margin-top: 40px;
}

#section-b{
    height: 600px;
    margin-top: 25px;
}


#section-b::before{
    content: '';
    top: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../images/banner-2.png') no-repeat center center/cover;
}

#section-b #showcase-content{
    z-index: 1;
}

@media only screen and (max-width: 600px) {

    #section-b p{
        visibility: collapse;
    }

}